# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
src/generated/resources/.cache

# idea
out
*.ipr
*.iws
*.iml

.idea/*
!.idea/codeStyles/
.idea/codeStyles/*
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml

# gradle
build
.gradle
logs

# other
eclipse
run
run_server
runs
.vscode
tools/

# markdown
*.md
*.MD
!README.md
!README.MD
!LICENSE.md
!LICENSE.MD
!CHANGELOG.md
!metadata/changelogs/*.md
!metadata/changelogs/*.MD
!docs/*.md
!docs/*.MD
